body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: hsla(230, 84%, 62%, 0.916);
    color: hsla(41, 88%, 59%, 0.916);
}

main{
    padding: 10em;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels{
    font-size: 3em;
    margin: 50px;
    border: 2px hsl(0, 13%, 86%) solid;
    padding: 5px 25px;
    border-radius: 5px;
    color:hsl(132, 88%, 65%);
}